<launch>
	<!-- Create Data Folder it it doesn't exist -->
	<node name="$(anon generate_folders)" pkg="avatar_locomanipulation" type="generate_folders.sh" />

	<arg name="num_positive_data" default="10000"/>
	<arg name="generate_positive_data_only" value="true" />

	<!-- Right Hand Left Stance -->
    <include file="$(find avatar_locomanipulation)/launch/data_generation/launch_generate_training_data.launch">
		<arg name="yaml_filename" value="right_hand_left_stance"/>

		<arg name="num_positive_data" value="$(arg num_positive_data)"/>
	    <arg name="visualize" value="false" />  
	    <arg name="positive_data_only" value="$(arg generate_positive_data_only)" />
    </include>  

	<!-- Right Hand Right Stance -->
    <include file="$(find avatar_locomanipulation)/launch/data_generation/launch_generate_training_data.launch">
		<arg name="yaml_filename" value="right_hand_right_stance"/>

		<arg name="num_positive_data" value="$(arg num_positive_data)"/>
	    <arg name="visualize" value="false" />  
	    <arg name="positive_data_only" value="$(arg generate_positive_data_only)" />
    </include>  

</launch>