<launch>
	<!-- Create Data Folder it it doesn't exist -->
	<node name="$(anon generate_folders)" pkg="avatar_locomanipulation" type="generate_folders.sh" />

	<node name="$(anon monitor_progress)" pkg="avatar_locomanipulation" type="new_terminal_run_command.sh" args="$(find avatar_locomanipulation)/scripts/monitor_progress.sh" />

	<arg name="num_positive_data" default="10000"/>
	<arg name="generate_positive_data_only" value="true" />

	<!-- Both Hands Left Stance -->
    <include file="$(find avatar_locomanipulation)/launch/data_generation/launch_generate_training_data.launch">
		<arg name="yaml_filename" value="both_hands_left_stance"/>

		<arg name="num_positive_data" value="$(arg num_positive_data)"/>
	    <arg name="visualize" value="false" />  
	    <arg name="positive_data_only" value="$(arg generate_positive_data_only)" />
    </include>  

	<!-- Both Hands Right Stance -->
    <include file="$(find avatar_locomanipulation)/launch/data_generation/launch_generate_training_data.launch">
		<arg name="yaml_filename" value="both_hands_right_stance"/>

		<arg name="num_positive_data" value="$(arg num_positive_data)"/>
	    <arg name="visualize" value="false" />  
	    <arg name="positive_data_only" value="$(arg generate_positive_data_only)" />
    </include>  
</launch>