<launch>

	<arg name="num_positive_data" default="5"/>

	<!-- Left Hand Left Stance -->
    <include file="$(find avatar_locomanipulation)/launch/data_generation/launch_generate_training_data.launch">
		<arg name="yaml_filename" value="left_hand_left_stance"/>

		<arg name="num_positive_data" value="$(arg num_positive_data)"/>
	    <arg name="visualize" value="false" />  
	    <arg name="positive_data_only" value="false" />
    </include>  

	<!-- Left Hand Right Stance -->
    <include file="$(find avatar_locomanipulation)/launch/data_generation/launch_generate_training_data.launch">
		<arg name="yaml_filename" value="left_hand_right_stance"/>

		<arg name="num_positive_data" value="$(arg num_positive_data)"/>
	    <arg name="visualize" value="false" />  
	    <arg name="positive_data_only" value="false" />
    </include>  


</launch>