<launch>
    <node name="test_ik_module" pkg="avatar_locomanipulation" type="test_ik_pointcollision" output="screen" /> 
    
    <include file="$(find avatar_locomanipulation)/launch/launch_viz_robot_and_ik.launch">
      <arg name="use_static_transform" value="False"/>
    </include>    

</launch>