<launch>
	<node name="$(anon generate_folders)" pkg="avatar_locomanipulation" type="generate_folders.sh" />
    <node name="planner_cart_push_node_different_cost" pkg="avatar_locomanipulation" type="planner_cart_push_node_different_cost" output="screen" /> 
	<!-- Visualize the robot -->  
    <include file="$(find avatar_locomanipulation)/launch/robot_and_ik_viz.launch">
      <arg name="use_static_transform" value="False"/>
	  <arg name="rviz_config" default="val_and_cart_push.rviz" />
    </include>    

	<!-- Visualize the cart -->
    <node name="node_visualize_cart" pkg="avatar_locomanipulation" type="node_visualize_cart" output="screen" /> 



</launch>